.home {
    display: flex;
    flex-direction: column;

    &__intro {
       
        display: flex;
        justify-content: center; 
        align-items: center;
        padding: 12px;
        border: 10px solid #e63d3d;
        border-radius: 15px;
        gap: 1.5rem;

        &__text {

            max-width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start; 

            span {
               font-size: 24px;
               color: gray;
            }

            p {
               font-size: 32px;
               color: #e63d3d;
            }

            button {
                padding: 0.5rem 1rem;
                background-color: transparent;
                color: #e63d3d;
                border: 2px solid #e63d3d;
                margin-right: 18px;
                cursor: pointer;
                font-weight: 900;
                transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
              
                &:hover {
                  background-color: #e63d3d;
                  color: white;
                  border-color: #b92b2b;
                }
              }
        }

        &__img {

            max-width: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: auto;
            }
        }
    }

    &__details{
       
       display: flex;
    }
}

@keyframes fadeSlideIn {
    0% {
      opacity: 0;
      transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .home__intro__text {
    animation: fadeSlideIn 0.6s ease forwards;
  }